
AP/automation.log
AP/tests/home/__pycache__/logintests.cpython-38.pyc
AP/tests/__pycache__/testsuite.cpython-38-pytest-6.1.1.pyc
AP/pages/home/__pycache__/navigation_page.cpython-38.pyc
AP/pages/home/__pycache__/login_page.cpython-38.pyc
*.log
KeywordDriven/report.html
DataDriven/report.html
DataDriven/report.html
*.pyc
*.png
*.pyc
*.html
KeywordDriven/report.html
*.html
*.pyc
